.ff0 {
    font-family: sans-serif;
    visibility: hidden;
}

@font-face {
    font-family: ff1;
    src: url(f1.woff)format("woff");
}

.ff1 {
    font-family: ff1;
    line-height: 1.364258;
    font-style: normal;
    font-weight: normal;
    visibility: visible;
}

@font-face {
    font-family: ff2;
    src: url(f2.woff)format("woff");
}

.ff2 {
    font-family: ff2;
    line-height: 0.747559;
    font-style: normal;
    font-weight: normal;
    visibility: visible;
}

@font-face {
    font-family: ff3;
    src: url(f3.woff)format("woff");
}

.ff3 {
    font-family: ff3;
    line-height: 1.005371;
    font-style: normal;
    font-weight: normal;
    visibility: visible;
}

@font-face {
    font-family: ff4;
    src: url(f4.woff)format("woff");
}

.ff4 {
    font-family: ff4;
    line-height: 1.005371;
    font-style: normal;
    font-weight: normal;
    visibility: visible;
}

@font-face {
    font-family: ff5;
    src: url(f5.woff)format("woff");
}

.ff5 {
    font-family: ff5;
    line-height: 1.005371;
    font-style: normal;
    font-weight: normal;
    visibility: visible;
}

@font-face {
    font-family: ff6;
    src: url(f6.woff)format("woff");
}

.ff6 {
    font-family: ff6;
    line-height: 1.005371;
    font-style: normal;
    font-weight: normal;
    visibility: visible;
}

@font-face {
    font-family: ff7;
    src: url(f7.woff)format("woff");
}

.ff7 {
    font-family: ff7;
    line-height: 1.005371;
    font-style: normal;
    font-weight: normal;
    visibility: visible;
}

@font-face {
    font-family: ff8;
    src: url(f8.woff)format("woff");
}

.ff8 {
    font-family: ff8;
    line-height: 1.005371;
    font-style: normal;
    font-weight: normal;
    visibility: visible;
}

@font-face {
    font-family: ff9;
    src: url(f9.woff)format("woff");
}

.ff9 {
    font-family: ff9;
    line-height: 1.005371;
    font-style: normal;
    font-weight: normal;
    visibility: visible;
}

@font-face {
    font-family: ffa;
    src: url(fa.woff)format("woff");
}

.ffa {
    font-family: ffa;
    line-height: 1.005371;
    font-style: normal;
    font-weight: normal;
    visibility: visible;
}

@font-face {
    font-family: ffb;
    src: url(fb.woff)format("woff");
}

.ffb {
    font-family: ffb;
    line-height: 1.005371;
    font-style: normal;
    font-weight: normal;
    visibility: visible;
}

@font-face {
    font-family: ffc;
    src: url(fc.woff)format("woff");
}

.ffc {
    font-family: ffc;
    line-height: 1.005371;
    font-style: normal;
    font-weight: normal;
    visibility: visible;
}

@font-face {
    font-family: ffd;
    src: url(fd.woff)format("woff");
}

.ffd {
    font-family: ffd;
    line-height: 1.005371;
    font-style: normal;
    font-weight: normal;
    visibility: visible;
}

@font-face {
    font-family: ffe;
    src: url(fe.woff)format("woff");
}

.ffe {
    font-family: ffe;
    line-height: 1.005371;
    font-style: normal;
    font-weight: normal;
    visibility: visible;
}

@font-face {
    font-family: fff;
    src: url(ff.woff)format("woff");
}

.fff {
    font-family: fff;
    line-height: 1.005371;
    font-style: normal;
    font-weight: normal;
    visibility: visible;
}

@font-face {
    font-family: ff10;
    src: url(f10.woff)format("woff");
}

.ff10 {
    font-family: ff10;
    line-height: 1.005371;
    font-style: normal;
    font-weight: normal;
    visibility: visible;
}

@font-face {
    font-family: ff11;
    src: url(f11.woff)format("woff");
}

.ff11 {
    font-family: ff11;
    line-height: 1.005371;
    font-style: normal;
    font-weight: normal;
    visibility: visible;
}

@font-face {
    font-family: ff12;
    src: url(f12.woff)format("woff");
}

.ff12 {
    font-family: ff12;
    line-height: 1.005371;
    font-style: normal;
    font-weight: normal;
    visibility: visible;
}

@font-face {
    font-family: ff13;
    src: url(f13.woff)format("woff");
}

.ff13 {
    font-family: ff13;
    line-height: 1.005371;
    font-style: normal;
    font-weight: normal;
    visibility: visible;
}

@font-face {
    font-family: ff14;
    src: url(f14.woff)format("woff");
}

.ff14 {
    font-family: ff14;
    line-height: 0.747559;
    font-style: normal;
    font-weight: normal;
    visibility: visible;
}

@font-face {
    font-family: ff15;
    src: url(f15.woff)format("woff");
}

.ff15 {
    font-family: ff15;
    line-height: 1.005371;
    font-style: normal;
    font-weight: normal;
    visibility: visible;
}

@font-face {
    font-family: ff16;
    src: url(f16.woff)format("woff");
}

.ff16 {
    font-family: ff16;
    line-height: 1.005371;
    font-style: normal;
    font-weight: normal;
    visibility: visible;
}

@font-face {
    font-family: ff17;
    src: url(f17.woff)format("woff");
}

.ff17 {
    font-family: ff17;
    line-height: 1.005371;
    font-style: normal;
    font-weight: normal;
    visibility: visible;
}

@font-face {
    font-family: ff18;
    src: url(f18.woff)format("woff");
}

.ff18 {
    font-family: ff18;
    line-height: 1.005371;
    font-style: normal;
    font-weight: normal;
    visibility: visible;
}

@font-face {
    font-family: ff19;
    src: url(f19.woff)format("woff");
}

.ff19 {
    font-family: ff19;
    line-height: 0.747559;
    font-style: normal;
    font-weight: normal;
    visibility: visible;
}

@font-face {
    font-family: ff1a;
    src: url(f1a.woff)format("woff");
}

.ff1a {
    font-family: ff1a;
    line-height: 1.005371;
    font-style: normal;
    font-weight: normal;
    visibility: visible;
}

@font-face {
    font-family: ff1b;
    src: url(f1b.woff)format("woff");
}

.ff1b {
    font-family: ff1b;
    line-height: 1.005371;
    font-style: normal;
    font-weight: normal;
    visibility: visible;
}

@font-face {
    font-family: ff1c;
    src: url(f1c.woff)format("woff");
}

.ff1c {
    font-family: ff1c;
    line-height: 1.364258;
    font-style: normal;
    font-weight: normal;
    visibility: visible;
}

@font-face {
    font-family: ff1d;
    src: url(f1d.woff)format("woff");
}

.ff1d {
    font-family: ff1d;
    line-height: 0.747559;
    font-style: normal;
    font-weight: normal;
    visibility: visible;
}

@font-face {
    font-family: ff1e;
    src: url(f1e.woff)format("woff");
}

.ff1e {
    font-family: ff1e;
    line-height: 1.005371;
    font-style: normal;
    font-weight: normal;
    visibility: visible;
}

@font-face {
    font-family: ff1f;
    src: url(f1f.woff)format("woff");
}

.ff1f {
    font-family: ff1f;
    line-height: 1.005371;
    font-style: normal;
    font-weight: normal;
    visibility: visible;
}

@font-face {
    font-family: ff20;
    src: url(f20.woff)format("woff");
}

.ff20 {
    font-family: ff20;
    line-height: 1.364258;
    font-style: normal;
    font-weight: normal;
    visibility: visible;
}

@font-face {
    font-family: ff21;
    src: url(f21.woff)format("woff");
}

.ff21 {
    font-family: ff21;
    line-height: 1.005371;
    font-style: normal;
    font-weight: normal;
    visibility: visible;
}

@font-face {
    font-family: ff22;
    src: url(f22.woff)format("woff");
}

.ff22 {
    font-family: ff22;
    line-height: 1.364258;
    font-style: normal;
    font-weight: normal;
    visibility: visible;
}

@font-face {
    font-family: ff23;
    src: url(f23.woff)format("woff");
}

.ff23 {
    font-family: ff23;
    line-height: 1.005371;
    font-style: normal;
    font-weight: normal;
    visibility: visible;
}

@font-face {
    font-family: ff24;
    src: url(f24.woff)format("woff");
}

.ff24 {
    font-family: ff24;
    line-height: 1.364258;
    font-style: normal;
    font-weight: normal;
    visibility: visible;
}

@font-face {
    font-family: ff25;
    src: url(f25.woff)format("woff");
}

.ff25 {
    font-family: ff25;
    line-height: 1.005371;
    font-style: normal;
    font-weight: normal;
    visibility: visible;
}

@font-face {
    font-family: ff26;
    src: url(f26.woff)format("woff");
}

.ff26 {
    font-family: ff26;
    line-height: 1.364258;
    font-style: normal;
    font-weight: normal;
    visibility: visible;
}

@font-face {
    font-family: ff27;
    src: url(f27.woff)format("woff");
}

.ff27 {
    font-family: ff27;
    line-height: 1.005371;
    font-style: normal;
    font-weight: normal;
    visibility: visible;
}

@font-face {
    font-family: ff28;
    src: url(f28.woff)format("woff");
}

.ff28 {
    font-family: ff28;
    line-height: 1.364258;
    font-style: normal;
    font-weight: normal;
    visibility: visible;
}

@font-face {
    font-family: ff29;
    src: url(f29.woff)format("woff");
}

.ff29 {
    font-family: ff29;
    line-height: 1.005371;
    font-style: normal;
    font-weight: normal;
    visibility: visible;
}

@font-face {
    font-family: ff2a;
    src: url(f2a.woff)format("woff");
}

.ff2a {
    font-family: ff2a;
    line-height: 1.364258;
    font-style: normal;
    font-weight: normal;
    visibility: visible;
}

@font-face {
    font-family: ff2b;
    src: url(f2b.woff)format("woff");
}

.ff2b {
    font-family: ff2b;
    line-height: 1.005371;
    font-style: normal;
    font-weight: normal;
    visibility: visible;
}

@font-face {
    font-family: ff2c;
    src: url(f2c.woff)format("woff");
}

.ff2c {
    font-family: ff2c;
    line-height: 1.005371;
    font-style: normal;
    font-weight: normal;
    visibility: visible;
}

@font-face {
    font-family: ff2d;
    src: url(f2d.woff)format("woff");
}

.ff2d {
    font-family: ff2d;
    line-height: 1.364258;
    font-style: normal;
    font-weight: normal;
    visibility: visible;
}

@font-face {
    font-family: ff2e;
    src: url(f2e.woff)format("woff");
}

.ff2e {
    font-family: ff2e;
    line-height: 1.005371;
    font-style: normal;
    font-weight: normal;
    visibility: visible;
}

@font-face {
    font-family: ff2f;
    src: url(f2f.woff)format("woff");
}

.ff2f {
    font-family: ff2f;
    line-height: 1.005371;
    font-style: normal;
    font-weight: normal;
    visibility: visible;
}

@font-face {
    font-family: ff30;
    src: url(f30.woff)format("woff");
}

.ff30 {
    font-family: ff30;
    line-height: 1.364258;
    font-style: normal;
    font-weight: normal;
    visibility: visible;
}

@font-face {
    font-family: ff31;
    src: url(f31.woff)format("woff");
}

.ff31 {
    font-family: ff31;
    line-height: 0.747559;
    font-style: normal;
    font-weight: normal;
    visibility: visible;
}

@font-face {
    font-family: ff32;
    src: url(f32.woff)format("woff");
}

.ff32 {
    font-family: ff32;
    line-height: 1.005371;
    font-style: normal;
    font-weight: normal;
    visibility: visible;
}

@font-face {
    font-family: ff33;
    src: url(f33.woff)format("woff");
}

.ff33 {
    font-family: ff33;
    line-height: 1.005371;
    font-style: normal;
    font-weight: normal;
    visibility: visible;
}

@font-face {
    font-family: ff34;
    src: url(f34.woff)format("woff");
}

.ff34 {
    font-family: ff34;
    line-height: 1.005371;
    font-style: normal;
    font-weight: normal;
    visibility: visible;
}

@font-face {
    font-family: ff35;
    src: url(f35.woff)format("woff");
}

.ff35 {
    font-family: ff35;
    line-height: 1.005371;
    font-style: normal;
    font-weight: normal;
    visibility: visible;
}

@font-face {
    font-family: ff36;
    src: url(f36.woff)format("woff");
}

.ff36 {
    font-family: ff36;
    line-height: 1.005371;
    font-style: normal;
    font-weight: normal;
    visibility: visible;
}

@font-face {
    font-family: ff37;
    src: url(f37.woff)format("woff");
}

.ff37 {
    font-family: ff37;
    line-height: 1.005371;
    font-style: normal;
    font-weight: normal;
    visibility: visible;
}

@font-face {
    font-family: ff38;
    src: url(f38.woff)format("woff");
}

.ff38 {
    font-family: ff38;
    line-height: 1.005371;
    font-style: normal;
    font-weight: normal;
    visibility: visible;
}

@font-face {
    font-family: ff39;
    src: url(f39.woff)format("woff");
}

.ff39 {
    font-family: ff39;
    line-height: 1.005371;
    font-style: normal;
    font-weight: normal;
    visibility: visible;
}

@font-face {
    font-family: ff3a;
    src: url(f3a.woff)format("woff");
}

.ff3a {
    font-family: ff3a;
    line-height: 1.005371;
    font-style: normal;
    font-weight: normal;
    visibility: visible;
}

@font-face {
    font-family: ff3b;
    src: url(f3b.woff)format("woff");
}

.ff3b {
    font-family: ff3b;
    line-height: 1.005371;
    font-style: normal;
    font-weight: normal;
    visibility: visible;
}

@font-face {
    font-family: ff3c;
    src: url(f3c.woff)format("woff");
}

.ff3c {
    font-family: ff3c;
    line-height: 1.005371;
    font-style: normal;
    font-weight: normal;
    visibility: visible;
}

@font-face {
    font-family: ff3d;
    src: url(f3d.woff)format("woff");
}

.ff3d {
    font-family: ff3d;
    line-height: 1.005371;
    font-style: normal;
    font-weight: normal;
    visibility: visible;
}

@font-face {
    font-family: ff3e;
    src: url(f3e.woff)format("woff");
}

.ff3e {
    font-family: ff3e;
    line-height: 1.000000;
    font-style: normal;
    font-weight: normal;
    visibility: visible;
}

@font-face {
    font-family: ff3f;
    src: url(f3f.woff)format("woff");
}

.ff3f {
    font-family: ff3f;
    line-height: 1.005371;
    font-style: normal;
    font-weight: normal;
    visibility: visible;
}

@font-face {
    font-family: ff40;
    src: url(f40.woff)format("woff");
}

.ff40 {
    font-family: ff40;
    line-height: 1.364258;
    font-style: normal;
    font-weight: normal;
    visibility: visible;
}

@font-face {
    font-family: ff41;
    src: url(f41.woff)format("woff");
}

.ff41 {
    font-family: ff41;
    line-height: 0.747559;
    font-style: normal;
    font-weight: normal;
    visibility: visible;
}

@font-face {
    font-family: ff42;
    src: url(f42.woff)format("woff");
}

.ff42 {
    font-family: ff42;
    line-height: 0.747559;
    font-style: normal;
    font-weight: normal;
    visibility: visible;
}

@font-face {
    font-family: ff43;
    src: url(f43.woff)format("woff");
}

.ff43 {
    font-family: ff43;
    line-height: 1.005371;
    font-style: normal;
    font-weight: normal;
    visibility: visible;
}

@font-face {
    font-family: ff44;
    src: url(f44.woff)format("woff");
}

.ff44 {
    font-family: ff44;
    line-height: 1.005371;
    font-style: normal;
    font-weight: normal;
    visibility: visible;
}

@font-face {
    font-family: ff45;
    src: url(f45.woff)format("woff");
}

.ff45 {
    font-family: ff45;
    line-height: 1.364258;
    font-style: normal;
    font-weight: normal;
    visibility: visible;
}

@font-face {
    font-family: ff46;
    src: url(f46.woff)format("woff");
}

.ff46 {
    font-family: ff46;
    line-height: 1.005371;
    font-style: normal;
    font-weight: normal;
    visibility: visible;
}

@font-face {
    font-family: ff47;
    src: url(f47.woff)format("woff");
}

.ff47 {
    font-family: ff47;
    line-height: 1.364258;
    font-style: normal;
    font-weight: normal;
    visibility: visible;
}

@font-face {
    font-family: ff48;
    src: url(f48.woff)format("woff");
}

.ff48 {
    font-family: ff48;
    line-height: 0.747559;
    font-style: normal;
    font-weight: normal;
    visibility: visible;
}

@font-face {
    font-family: ff49;
    src: url(f49.woff)format("woff");
}

.ff49 {
    font-family: ff49;
    line-height: 0.747559;
    font-style: normal;
    font-weight: normal;
    visibility: visible;
}

@font-face {
    font-family: ff4a;
    src: url(f4a.woff)format("woff");
}

.ff4a {
    font-family: ff4a;
    line-height: 1.005371;
    font-style: normal;
    font-weight: normal;
    visibility: visible;
}

@font-face {
    font-family: ff4b;
    src: url(f4b.woff)format("woff");
}

.ff4b {
    font-family: ff4b;
    line-height: 1.005371;
    font-style: normal;
    font-weight: normal;
    visibility: visible;
}

@font-face {
    font-family: ff4c;
    src: url(f4c.woff)format("woff");
}

.ff4c {
    font-family: ff4c;
    line-height: 1.005371;
    font-style: normal;
    font-weight: normal;
    visibility: visible;
}

@font-face {
    font-family: ff4d;
    src: url(f4d.woff)format("woff");
}

.ff4d {
    font-family: ff4d;
    line-height: 1.005371;
    font-style: normal;
    font-weight: normal;
    visibility: visible;
}

@font-face {
    font-family: ff4e;
    src: url(f4e.woff)format("woff");
}

.ff4e {
    font-family: ff4e;
    line-height: 1.005371;
    font-style: normal;
    font-weight: normal;
    visibility: visible;
}

@font-face {
    font-family: ff4f;
    src: url(f4f.woff)format("woff");
}

.ff4f {
    font-family: ff4f;
    line-height: 1.005371;
    font-style: normal;
    font-weight: normal;
    visibility: visible;
}

@font-face {
    font-family: ff50;
    src: url(f50.woff)format("woff");
}

.ff50 {
    font-family: ff50;
    line-height: 1.005371;
    font-style: normal;
    font-weight: normal;
    visibility: visible;
}

@font-face {
    font-family: ff51;
    src: url(f51.woff)format("woff");
}

.ff51 {
    font-family: ff51;
    line-height: 1.005371;
    font-style: normal;
    font-weight: normal;
    visibility: visible;
}

@font-face {
    font-family: ff52;
    src: url(f52.woff)format("woff");
}

.ff52 {
    font-family: ff52;
    line-height: 1.005371;
    font-style: normal;
    font-weight: normal;
    visibility: visible;
}

@font-face {
    font-family: ff53;
    src: url(f53.woff)format("woff");
}

.ff53 {
    font-family: ff53;
    line-height: 1.005371;
    font-style: normal;
    font-weight: normal;
    visibility: visible;
}

@font-face {
    font-family: ff54;
    src: url(f54.woff)format("woff");
}

.ff54 {
    font-family: ff54;
    line-height: 1.005371;
    font-style: normal;
    font-weight: normal;
    visibility: visible;
}

@font-face {
    font-family: ff55;
    src: url(f55.woff)format("woff");
}

.ff55 {
    font-family: ff55;
    line-height: 1.005371;
    font-style: normal;
    font-weight: normal;
    visibility: visible;
}

@font-face {
    font-family: ff56;
    src: url(f56.woff)format("woff");
}

.ff56 {
    font-family: ff56;
    line-height: 1.005371;
    font-style: normal;
    font-weight: normal;
    visibility: visible;
}

@font-face {
    font-family: ff57;
    src: url(f57.woff)format("woff");
}

.ff57 {
    font-family: ff57;
    line-height: 1.005371;
    font-style: normal;
    font-weight: normal;
    visibility: visible;
}

@font-face {
    font-family: ff58;
    src: url(f58.woff)format("woff");
}

.ff58 {
    font-family: ff58;
    line-height: 1.005371;
    font-style: normal;
    font-weight: normal;
    visibility: visible;
}

@font-face {
    font-family: ff59;
    src: url(f59.woff)format("woff");
}

.ff59 {
    font-family: ff59;
    line-height: 1.364258;
    font-style: normal;
    font-weight: normal;
    visibility: visible;
}

@font-face {
    font-family: ff5a;
    src: url(f5a.woff)format("woff");
}

.ff5a {
    font-family: ff5a;
    line-height: 1.005371;
    font-style: normal;
    font-weight: normal;
    visibility: visible;
}

@font-face {
    font-family: ff5b;
    src: url(f5b.woff)format("woff");
}

.ff5b {
    font-family: ff5b;
    line-height: 1.005371;
    font-style: normal;
    font-weight: normal;
    visibility: visible;
}

@font-face {
    font-family: ff5c;
    src: url(f5c.woff)format("woff");
}

.ff5c {
    font-family: ff5c;
    line-height: 1.005371;
    font-style: normal;
    font-weight: normal;
    visibility: visible;
}

@font-face {
    font-family: ff5d;
    src: url(f5d.woff)format("woff");
}

.ff5d {
    font-family: ff5d;
    line-height: 1.005371;
    font-style: normal;
    font-weight: normal;
    visibility: visible;
}

@font-face {
    font-family: ff5e;
    src: url(f5e.woff)format("woff");
}

.ff5e {
    font-family: ff5e;
    line-height: 1.005371;
    font-style: normal;
    font-weight: normal;
    visibility: visible;
}

@font-face {
    font-family: ff5f;
    src: url(f5f.woff)format("woff");
}

.ff5f {
    font-family: ff5f;
    line-height: 1.005371;
    font-style: normal;
    font-weight: normal;
    visibility: visible;
}

@font-face {
    font-family: ff60;
    src: url(f60.woff)format("woff");
}

.ff60 {
    font-family: ff60;
    line-height: 1.005371;
    font-style: normal;
    font-weight: normal;
    visibility: visible;
}

@font-face {
    font-family: ff61;
    src: url(f61.woff)format("woff");
}

.ff61 {
    font-family: ff61;
    line-height: 1.005371;
    font-style: normal;
    font-weight: normal;
    visibility: visible;
}

@font-face {
    font-family: ff62;
    src: url(f62.woff)format("woff");
}

.ff62 {
    font-family: ff62;
    line-height: 1.005371;
    font-style: normal;
    font-weight: normal;
    visibility: visible;
}

@font-face {
    font-family: ff63;
    src: url(f63.woff)format("woff");
}

.ff63 {
    font-family: ff63;
    line-height: 1.005371;
    font-style: normal;
    font-weight: normal;
    visibility: visible;
}

@font-face {
    font-family: ff64;
    src: url(f64.woff)format("woff");
}

.ff64 {
    font-family: ff64;
    line-height: 1.005371;
    font-style: normal;
    font-weight: normal;
    visibility: visible;
}

@font-face {
    font-family: ff65;
    src: url(f65.woff)format("woff");
}

.ff65 {
    font-family: ff65;
    line-height: 1.005371;
    font-style: normal;
    font-weight: normal;
    visibility: visible;
}

@font-face {
    font-family: ff66;
    src: url(f66.woff)format("woff");
}

.ff66 {
    font-family: ff66;
    line-height: 1.000000;
    font-style: normal;
    font-weight: normal;
    visibility: visible;
}

.m0 {
    transform: matrix(0.250000, 0.000000, 0.000000, 0.250000, 0, 0);
    -ms-transform: matrix(0.250000, 0.000000, 0.000000, 0.250000, 0, 0);
    -webkit-transform: matrix(0.250000, 0.000000, 0.000000, 0.250000, 0, 0);
}

.v0 {
    vertical-align: 0.000000px;
}

.ls0 {
    letter-spacing: 0.000000px;
}

.sc_ {
    text-shadow: none;
}

.sc0 {
    text-shadow: -0.015em 0 transparent, 0 0.015em transparent, 0.015em 0 transparent, 0 -0.015em transparent;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
    .sc_ {
        -webkit-text-stroke: 0px transparent;
    }
    .sc0 {
        -webkit-text-stroke: 0.015em transparent;
        text-shadow: none;
    }
}

.wsa {
    word-spacing: -0.376000px;
}

.wsb {
    word-spacing: -0.040000px;
}

.ws2 {
    word-spacing: -0.024000px;
}

.ws10 {
    word-spacing: -0.020000px;
}

.wsc {
    word-spacing: -0.016000px;
}

.wsf {
    word-spacing: -0.012000px;
}

.ws1 {
    word-spacing: 0.000000px;
}

.ws4 {
    word-spacing: 0.004000px;
}

.wse {
    word-spacing: 0.008000px;
}

.ws9 {
    word-spacing: 0.028000px;
}

.ws3 {
    word-spacing: 0.032000px;
}

.ws6 {
    word-spacing: 0.036000px;
}

.ws8 {
    word-spacing: 0.040000px;
}

.wsd {
    word-spacing: 0.048000px;
}

.ws7 {
    word-spacing: 0.052000px;
}

.ws0 {
    word-spacing: 0.092000px;
}

.ws5 {
    word-spacing: 0.120000px;
}

.fc4 {
    color: rgb(51, 51, 51);
}

.fc0 {
    color: rgb(0, 0, 0);
}

.fc2 {
    color: rgb(255, 255, 255);
}

.fc1 {
    color: rgb(128, 143, 163);
}

.fc3 {
    color: rgb(49, 133, 155);
}

.fs0 {
    font-size: 30.000000px;
}

.fs6 {
    font-size: 40.000000px;
}

.fs3 {
    font-size: 48.000000px;
}

.fs5 {
    font-size: 52.000000px;
}

.fs7 {
    font-size: 64.000000px;
}

.fs2 {
    font-size: 72.000000px;
}

.fs4 {
    font-size: 90.000000px;
}

.fs1 {
    font-size: 108.000000px;
}

.y1 {
    bottom: -6.980000px;
}

.y0 {
    bottom: 0.000000px;
}

.y4 {
    bottom: 0.037000px;
}

.y30 {
    bottom: 10.917000px;
}

.y1d {
    bottom: 15.500000px;
}

.y7 {
    bottom: 23.532000px;
}

.y9 {
    bottom: 25.500000px;
}

.y6 {
    bottom: 47.532000px;
}

.y8 {
    bottom: 56.000000px;
}

.y6f {
    bottom: 156.336000px;
}

.y71 {
    bottom: 156.685000px;
}

.y6e {
    bottom: 202.493000px;
}

.y70 {
    bottom: 203.493000px;
}

.y1c {
    bottom: 218.383000px;
}

.y40 {
    bottom: 218.453000px;
}

.y57 {
    bottom: 219.101000px;
}

.y1b {
    bottom: 236.135000px;
}

.y3f {
    bottom: 236.205000px;
}

.y56 {
    bottom: 236.853000px;
}

.y2e {
    bottom: 259.511000px;
}

.y1a {
    bottom: 269.397000px;
}

.y3e {
    bottom: 269.822000px;
}

.y55 {
    bottom: 269.892000px;
}

.y2d {
    bottom: 277.263000px;
}

.y19 {
    bottom: 287.149000px;
}

.y3d {
    bottom: 287.574000px;
}

.y54 {
    bottom: 287.644000px;
}

.y2f {
    bottom: 304.000000px;
}

.y2c {
    bottom: 312.017000px;
}

.y18 {
    bottom: 322.017000px;
}

.y3c {
    bottom: 322.087000px;
}

.y53 {
    bottom: 322.157000px;
}

.y65 {
    bottom: 325.996000px;
}

.y6d {
    bottom: 327.615000px;
}

.y2b {
    bottom: 329.769000px;
}

.y17 {
    bottom: 339.769000px;
}

.y3b {
    bottom: 339.839000px;
}

.y52 {
    bottom: 339.909000px;
}

.y64 {
    bottom: 343.748000px;
}

.y6c {
    bottom: 345.367000px;
}

.y2a {
    bottom: 364.191000px;
}

.y16 {
    bottom: 374.615000px;
}

.y63 {
    bottom: 377.967000px;
}

.y29 {
    bottom: 381.943000px;
}

.y5 {
    bottom: 386.426000px;
}

.y15 {
    bottom: 392.367000px;
}

.y62 {
    bottom: 395.649000px;
}

.y4b {
    bottom: 406.931000px;
}

.y28 {
    bottom: 417.235000px;
}

.y4a {
    bottom: 424.683000px;
}

.y14 {
    bottom: 427.235000px;
}

.y3a {
    bottom: 427.305000px;
}

.y51 {
    bottom: 427.548000px;
}

.y61 {
    bottom: 429.031000px;
}

.y27 {
    bottom: 434.987000px;
}

.y3 {
    bottom: 440.496000px;
}

.y13 {
    bottom: 444.987000px;
}

.y39 {
    bottom: 445.057000px;
}

.y50 {
    bottom: 445.300000px;
}

.y49 {
    bottom: 446.043000px;
}

.y60 {
    bottom: 446.783000px;
}

.y26 {
    bottom: 468.871000px;
}

.y12 {
    bottom: 478.878000px;
}

.y48 {
    bottom: 479.400000px;
}

.y5f {
    bottom: 480.400000px;
}

.y25 {
    bottom: 486.623000px;
}

.y2 {
    bottom: 494.385000px;
}

.y11 {
    bottom: 496.630000px;
}

.y47 {
    bottom: 497.152000px;
}

.y5e {
    bottom: 498.152000px;
}

.y24 {
    bottom: 521.498000px;
}

.y46 {
    bottom: 531.449000px;
}

.y10 {
    bottom: 531.498000px;
}

.y38 {
    bottom: 531.568000px;
}

.y4f {
    bottom: 531.638000px;
}

.y5d {
    bottom: 532.214000px;
}

.y23 {
    bottom: 539.250000px;
}

.y45 {
    bottom: 549.201000px;
}

.yf {
    bottom: 549.250000px;
}

.y37 {
    bottom: 549.320000px;
}

.y4e {
    bottom: 549.390000px;
}

.y5c {
    bottom: 549.966000px;
}

.y22 {
    bottom: 574.096000px;
}

.ye {
    bottom: 584.096000px;
}

.y44 {
    bottom: 584.123000px;
}

.y36 {
    bottom: 584.166000px;
}

.y4d {
    bottom: 584.236000px;
}

.y6b {
    bottom: 584.300000px;
}

.y5b {
    bottom: 585.123000px;
}

.y21 {
    bottom: 591.848000px;
}

.yd {
    bottom: 601.848000px;
}

.y43 {
    bottom: 601.875000px;
}

.y35 {
    bottom: 601.918000px;
}

.y6a {
    bottom: 601.982000px;
}

.y4c {
    bottom: 601.988000px;
}

.y5a {
    bottom: 602.875000px;
}

.y20 {
    bottom: 625.727000px;
}

.yc {
    bottom: 635.657000px;
}

.y67 {
    bottom: 635.727000px;
}

.y34 {
    bottom: 635.837000px;
}

.y69 {
    bottom: 636.125000px;
}

.y42 {
    bottom: 636.745000px;
}

.y32 {
    bottom: 637.350000px;
}

.y59 {
    bottom: 637.690000px;
}

.y1f {
    bottom: 643.974000px;
}

.yb {
    bottom: 653.974000px;
}

.y66 {
    bottom: 654.044000px;
}

.y33 {
    bottom: 654.154000px;
}

.y68 {
    bottom: 654.372000px;
}

.y41 {
    bottom: 654.497000px;
}

.y58 {
    bottom: 655.442000px;
}

.y31 {
    bottom: 681.910000px;
}

.y1e {
    bottom: 686.493000px;
}

.ya {
    bottom: 696.493000px;
}

.h9 {
    height: 30.605469px;
}

.h1 {
    height: 31.186523px;
}

.h5 {
    height: 36.726562px;
}

.hb {
    height: 39.507812px;
}

.h8 {
    height: 39.787109px;
}

.hc {
    height: 48.625000px;
}

.h3 {
    height: 55.089844px;
}

.h7 {
    height: 68.862305px;
}

.h2 {
    height: 82.634766px;
}

.ha {
    height: 350.500000px;
}

.h6 {
    height: 680.000000px;
}

.h4 {
    height: 791.963000px;
}

.h0 {
    height: 792.000000px;
}

.w1 {
    width: 462.000000px;
}

.w0 {
    width: 612.000000px;
}

.x0 {
    left: 0.000000px;
}

.x6 {
    left: 73.534000px;
}

.x7 {
    left: 74.756000px;
}

.xe {
    left: 75.921000px;
}

.xd {
    left: 77.266000px;
}

.x9 {
    left: 83.534000px;
}

.xa {
    left: 84.756000px;
}

.xc {
    left: 91.536000px;
}

.x2 {
    left: 179.582000px;
}

.x3 {
    left: 203.587000px;
}

.x4 {
    left: 259.390000px;
}

.x1 {
    left: 286.760000px;
}

.x8 {
    left: 296.760000px;
}

.xb {
    left: 306.761000px;
}

.xf {
    left: 381.839000px;
}

.x10 {
    left: 382.925000px;
}

.x5 {
    left: 384.147000px;
}

.x11 {
    left: 385.683000px;
}

@media print {
    .v0 {
        vertical-align: 0.000000pt;
    }
    .ls0 {
        letter-spacing: 0.000000pt;
    }
    .wsa {
        word-spacing: -0.501333pt;
    }
    .wsb {
        word-spacing: -0.053333pt;
    }
    .ws2 {
        word-spacing: -0.032000pt;
    }
    .ws10 {
        word-spacing: -0.026667pt;
    }
    .wsc {
        word-spacing: -0.021333pt;
    }
    .wsf {
        word-spacing: -0.016000pt;
    }
    .ws1 {
        word-spacing: 0.000000pt;
    }
    .ws4 {
        word-spacing: 0.005333pt;
    }
    .wse {
        word-spacing: 0.010667pt;
    }
    .ws9 {
        word-spacing: 0.037333pt;
    }
    .ws3 {
        word-spacing: 0.042667pt;
    }
    .ws6 {
        word-spacing: 0.048000pt;
    }
    .ws8 {
        word-spacing: 0.053333pt;
    }
    .wsd {
        word-spacing: 0.064000pt;
    }
    .ws7 {
        word-spacing: 0.069333pt;
    }
    .ws0 {
        word-spacing: 0.122667pt;
    }
    .ws5 {
        word-spacing: 0.160000pt;
    }
    .fs0 {
        font-size: 40.000000pt;
    }
    .fs6 {
        font-size: 53.333333pt;
    }
    .fs3 {
        font-size: 64.000000pt;
    }
    .fs5 {
        font-size: 69.333333pt;
    }
    .fs7 {
        font-size: 85.333333pt;
    }
    .fs2 {
        font-size: 96.000000pt;
    }
    .fs4 {
        font-size: 120.000000pt;
    }
    .fs1 {
        font-size: 144.000000pt;
    }
    .y1 {
        bottom: -9.306667pt;
    }
    .y0 {
        bottom: 0.000000pt;
    }
    .y4 {
        bottom: 0.049333pt;
    }
    .y30 {
        bottom: 14.556000pt;
    }
    .y1d {
        bottom: 20.666667pt;
    }
    .y7 {
        bottom: 31.376000pt;
    }
    .y9 {
        bottom: 34.000000pt;
    }
    .y6 {
        bottom: 63.376000pt;
    }
    .y8 {
        bottom: 74.666667pt;
    }
    .y6f {
        bottom: 208.448000pt;
    }
    .y71 {
        bottom: 208.913333pt;
    }
    .y6e {
        bottom: 269.990667pt;
    }
    .y70 {
        bottom: 271.324000pt;
    }
    .y1c {
        bottom: 291.177333pt;
    }
    .y40 {
        bottom: 291.270667pt;
    }
    .y57 {
        bottom: 292.134667pt;
    }
    .y1b {
        bottom: 314.846667pt;
    }
    .y3f {
        bottom: 314.940000pt;
    }
    .y56 {
        bottom: 315.804000pt;
    }
    .y2e {
        bottom: 346.014667pt;
    }
    .y1a {
        bottom: 359.196000pt;
    }
    .y3e {
        bottom: 359.762667pt;
    }
    .y55 {
        bottom: 359.856000pt;
    }
    .y2d {
        bottom: 369.684000pt;
    }
    .y19 {
        bottom: 382.865333pt;
    }
    .y3d {
        bottom: 383.432000pt;
    }
    .y54 {
        bottom: 383.525333pt;
    }
    .y2f {
        bottom: 405.333333pt;
    }
    .y2c {
        bottom: 416.022667pt;
    }
    .y18 {
        bottom: 429.356000pt;
    }
    .y3c {
        bottom: 429.449333pt;
    }
    .y53 {
        bottom: 429.542667pt;
    }
    .y65 {
        bottom: 434.661333pt;
    }
    .y6d {
        bottom: 436.820000pt;
    }
    .y2b {
        bottom: 439.692000pt;
    }
    .y17 {
        bottom: 453.025333pt;
    }
    .y3b {
        bottom: 453.118667pt;
    }
    .y52 {
        bottom: 453.212000pt;
    }
    .y64 {
        bottom: 458.330667pt;
    }
    .y6c {
        bottom: 460.489333pt;
    }
    .y2a {
        bottom: 485.588000pt;
    }
    .y16 {
        bottom: 499.486667pt;
    }
    .y63 {
        bottom: 503.956000pt;
    }
    .y29 {
        bottom: 509.257333pt;
    }
    .y5 {
        bottom: 515.234667pt;
    }
    .y15 {
        bottom: 523.156000pt;
    }
    .y62 {
        bottom: 527.532000pt;
    }
    .y4b {
        bottom: 542.574667pt;
    }
    .y28 {
        bottom: 556.313333pt;
    }
    .y4a {
        bottom: 566.244000pt;
    }
    .y14 {
        bottom: 569.646667pt;
    }
    .y3a {
        bottom: 569.740000pt;
    }
    .y51 {
        bottom: 570.064000pt;
    }
    .y61 {
        bottom: 572.041333pt;
    }
    .y27 {
        bottom: 579.982667pt;
    }
    .y3 {
        bottom: 587.328000pt;
    }
    .y13 {
        bottom: 593.316000pt;
    }
    .y39 {
        bottom: 593.409333pt;
    }
    .y50 {
        bottom: 593.733333pt;
    }
    .y49 {
        bottom: 594.724000pt;
    }
    .y60 {
        bottom: 595.710667pt;
    }
    .y26 {
        bottom: 625.161333pt;
    }
    .y12 {
        bottom: 638.504000pt;
    }
    .y48 {
        bottom: 639.200000pt;
    }
    .y5f {
        bottom: 640.533333pt;
    }
    .y25 {
        bottom: 648.830667pt;
    }
    .y2 {
        bottom: 659.180000pt;
    }
    .y11 {
        bottom: 662.173333pt;
    }
    .y47 {
        bottom: 662.869333pt;
    }
    .y5e {
        bottom: 664.202667pt;
    }
    .y24 {
        bottom: 695.330667pt;
    }
    .y46 {
        bottom: 708.598667pt;
    }
    .y10 {
        bottom: 708.664000pt;
    }
    .y38 {
        bottom: 708.757333pt;
    }
    .y4f {
        bottom: 708.850667pt;
    }
    .y5d {
        bottom: 709.618667pt;
    }
    .y23 {
        bottom: 719.000000pt;
    }
    .y45 {
        bottom: 732.268000pt;
    }
    .yf {
        bottom: 732.333333pt;
    }
    .y37 {
        bottom: 732.426667pt;
    }
    .y4e {
        bottom: 732.520000pt;
    }
    .y5c {
        bottom: 733.288000pt;
    }
    .y22 {
        bottom: 765.461333pt;
    }
    .ye {
        bottom: 778.794667pt;
    }
    .y44 {
        bottom: 778.830667pt;
    }
    .y36 {
        bottom: 778.888000pt;
    }
    .y4d {
        bottom: 778.981333pt;
    }
    .y6b {
        bottom: 779.066667pt;
    }
    .y5b {
        bottom: 780.164000pt;
    }
    .y21 {
        bottom: 789.130667pt;
    }
    .yd {
        bottom: 802.464000pt;
    }
    .y43 {
        bottom: 802.500000pt;
    }
    .y35 {
        bottom: 802.557333pt;
    }
    .y6a {
        bottom: 802.642667pt;
    }
    .y4c {
        bottom: 802.650667pt;
    }
    .y5a {
        bottom: 803.833333pt;
    }
    .y20 {
        bottom: 834.302667pt;
    }
    .yc {
        bottom: 847.542667pt;
    }
    .y67 {
        bottom: 847.636000pt;
    }
    .y34 {
        bottom: 847.782667pt;
    }
    .y69 {
        bottom: 848.166667pt;
    }
    .y42 {
        bottom: 848.993333pt;
    }
    .y32 {
        bottom: 849.800000pt;
    }
    .y59 {
        bottom: 850.253333pt;
    }
    .y1f {
        bottom: 858.632000pt;
    }
    .yb {
        bottom: 871.965333pt;
    }
    .y66 {
        bottom: 872.058667pt;
    }
    .y33 {
        bottom: 872.205333pt;
    }
    .y68 {
        bottom: 872.496000pt;
    }
    .y41 {
        bottom: 872.662667pt;
    }
    .y58 {
        bottom: 873.922667pt;
    }
    .y31 {
        bottom: 909.213333pt;
    }
    .y1e {
        bottom: 915.324000pt;
    }
    .ya {
        bottom: 928.657333pt;
    }
    .h9 {
        height: 40.807292pt;
    }
    .h1 {
        height: 41.582031pt;
    }
    .h5 {
        height: 48.968750pt;
    }
    .hb {
        height: 52.677083pt;
    }
    .h8 {
        height: 53.049479pt;
    }
    .hc {
        height: 64.833333pt;
    }
    .h3 {
        height: 73.453125pt;
    }
    .h7 {
        height: 91.816406pt;
    }
    .h2 {
        height: 110.179688pt;
    }
    .ha {
        height: 467.333333pt;
    }
    .h6 {
        height: 906.666667pt;
    }
    .h4 {
        height: 1055.950667pt;
    }
    .h0 {
        height: 1056.000000pt;
    }
    .w1 {
        width: 616.000000pt;
    }
    .w0 {
        width: 816.000000pt;
    }
    .x0 {
        left: 0.000000pt;
    }
    .x6 {
        left: 98.045333pt;
    }
    .x7 {
        left: 99.674667pt;
    }
    .xe {
        left: 101.228000pt;
    }
    .xd {
        left: 103.021333pt;
    }
    .x9 {
        left: 111.378667pt;
    }
    .xa {
        left: 113.008000pt;
    }
    .xc {
        left: 122.048000pt;
    }
    .x2 {
        left: 239.442667pt;
    }
    .x3 {
        left: 271.449333pt;
    }
    .x4 {
        left: 345.853333pt;
    }
    .x1 {
        left: 382.346667pt;
    }
    .x8 {
        left: 395.680000pt;
    }
    .xb {
        left: 409.014667pt;
    }
    .xf {
        left: 509.118667pt;
    }
    .x10 {
        left: 510.566667pt;
    }
    .x5 {
        left: 512.196000pt;
    }
    .x11 {
        left: 514.244000pt;
    }
}